<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cross Generator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Cross Generator</h1>
    <form id="partNumberForm">
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" required><br>

        <label for="mounting">Mounting:</label>
        <input type="text" id="mounting" name="mounting" required><br>

        <label for="diffuser">Diffuser:</label>
        <input type="text" id="diffuser" name="diffuser" required><br>

        <label for="lamp" id="lamp" name="lamp">Lamp</label>
        <input type="text" id="lamp" name="lamp" required><br>
        
        <label for="driver" id="driver" name="driver">Driver</label>
        <input type="text" id="driver" name="driver" required><br>

        <label for="voltage" id="voltage" name="voltage">Voltage</label>
        <input type="text" id="voltage" name="voltage" required><br>

        <label for="doorframe" id="doorframe" name="doorframe">Doorframe</label>
        <input type="text" id="doorframe" name="doorframe" required><br>

        <label for="options" id="options" name="options">Options</label>
        <input type="text" id="options" name="options"><br>

        <label for="accessories" id="accessories" name="accessories">Accessories</label>
        <input type="text" id="accessories" name="accessories"><br>

        <button type="submit">Get Equivalent</button>
    </form>
    <h2>Amico Equivalent Part Numbers:</h2>
    <ul id="results"></ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
